[Desktop Entry]
Name=Polka
Name[x-test]=xxPolkaxx
Exec=polka %i -caption "%c"
Icon=polka
Type=Application
X-DocPath=polka/index.html
GenericName=Address book
Terminal=false
